<h1>About Synth Surplus Storage</h1>
<h2>Contact Us</h2>
 <!-- Begin Contact Form -->
    <div id='contactformcontainer'>
    <form action="contact.html" method="post" name="contact">
    <label for="name">Name:</label>
    <input name="name" type="text" required="required">
    <br>    
    <label for="email">Email:</label>
    <input name="email" type="email" required="required">
    <br>
    <label for="subject">Subject:</label>
    <select name="subject">
      <option value="General Inquiry" selected="selected">General Inquiry</option>
      <option value="Specific Inquiry">X</option>
      <option value="Stoopid Inquiry">Stoopid Inquiry</option>
    </select>
    <br>
        <label for="message">Message:</label>
    <textarea name="message" cols="40" rows="5" required="required"></textarea>
    <br>
    <input id="submitbutton" name="submit" type="submit" value="Submit Message">
    </form>
    </div>
    <!-- End Contact Form -->
  